h1 {
    position: relative;
   left: 540px;
   
 }
 #faggot
 {
    position: relative;
   left: 600px;
 }
 p {
    position: relative;
   left: 240px;
   
 }
 img {
   position: relative;
   left: 550px;
 
 }
 ul { 
 position: relative;
 top: -1px;
   margin: 60px,
      
 
 }
 
 ol { 
 position: relative;
 top: -350px;
 left: 350px;
   padding: -10px;
  
    
}
#shee {
  position: relative;
top: -350px;
left: 390px;
  padding: -10px;
   }
 #dick {
   position: relative;
 left: 20px;
   padding: -10px;
 }