h1 {
    position: relative;
   left: 560px;
   
 }
 #faggot
 {
    position: relative;
   left: 650px;
 }
 p {
    position: relative;
   left: 200px;
   
 }
 img {
   position: relative;
   left: 550px;
 
 }
 ul { 
 position: relative;
 top: -1px;
   margin: 60px,
      
 
 }
 
 ol { 
 position: relative;
 top: -247px;
 left: 520px;
   padding: -10px;
  
    
 }
 #shee {
  position: relative;
 top: -240px;
 left: 540px;
   padding: -10px;
   }
 #dick {
   position: relative;
 left: 20px;
   padding: -10px;
 }